.todo {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, red, blue)
}
.todo-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoform {
  background: linear-gradient(90deg, red, green);
  height: 400px;
  width: 400px;
  border-radius: 5px;
}

.formtodo {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10%;
  position: relative;
}
.todolabel {
  font-size: 1.3rem;
  color: black;
}


