.Home-container{
    display: flex;
    justify-content: center;
}
.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list{
    color: black;
    
}