#container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./assets/bg.jpg");
  background-size: cover;
}
.Login {
  background-color: rgb(44, 44, 44);
  height: 500px;
  width: 420px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgb(97, 96, 96);
}
.login-header {
  position: relative;
  display: flex;
  justify-content: center;
  top: 1%;
  color: white;
  font-size: 3rem;
}

#form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}
form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
