body{
    margin: 0;
    padding: 0;
    
}

.signup-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(17, 17, 66);
    
    
    
}
form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: aliceblue;
    
    
}
label, input{
    margin-bottom: 10px;
    font-size: 1.3rem;
}
button{
    background-color: rgb(20, 101, 128);
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}