body{
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  /* background-color: rgb(231, 230, 230); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./../../assets/bg.jpg");
  background-size: cover;

}

.signup {
  background-color: rgb(44, 44, 44);
  width: 420px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgb(97, 96, 96);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1%;
  position: relative;
  font-size: 1.6rem;
  color: #fff;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

label {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: #fff;
}
input {
  margin-bottom: 12px;
  font-size: 1.3rem;
  color: black;
}
.form-button{
  background-color: rgb(73, 73, 73);
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 10rem;
  height: 2rem;
  color: black;
  transition: 0.5s;
}
.form-button:hover {
  background-color: #fff;
}
