.admin{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.admin-header{
    display: flex;
    justify-content: center;
}

.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}

.list{
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    /* list-style: lower-roman black; */

    
    
}