.form-button {
  background-color: rgb(73, 73, 73);
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 10rem;
  height: 2rem;
  color: black;
  transition: 0.5s;
}

.home-button {
  font-size: 1.5rem;
  background-color: gold;
  transition: 1s;
  width: 130px;
  border: none;
  border-radius: 5px;
}
