.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.footer-content {
  color: grey;
  font-size: 1.2rem;
}
